.layout {
    display: grid;

    header {
        min-height: 10vh;
        background-color: #535bf2;
    }

    footer {
        min-height: 10vh;
        background-color: darkgoldenrod;
        position: sticky;
    }
}

.carousel {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: auto;

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.spacer {
    flex-shrink: 0;
    height: 70px;
    background-color: transparent;
}