.layout {
    display: grid;

    header {
        min-height: 10vh;
        background-color: #535bf2;
    }

    footer {
        min-height: 10vh;
        background-color: darkgoldenrod;
        position: sticky;
    }
}